{% extends 'blog/base.html' %}
{% load my_tags %}
{% block title %}Список блогов{% endblock %}
{% block content %}
<h1>Blog Posts</h1>
<div class="container">
    <div class="row text-center">
        <div class="col-4">
            <img src="{{ blog.preview | media_filter }}" class="img-fluid w-50">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h1 class="my-0 font-weight-normal">{{ blog.title }}</h1>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>{{ blog.content }}</li>
                        <li>Дата создания {{ blog.created_at }}</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary" onclick="location.href='{% url 'blog:blog_list' %}'">Назад</button>
                </div>
            </div>
        </div>
    </div>
</div>
