{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block title %}Каталог{% endblock %}
{% block content %}

{% if category %}
    <h1>Продукты в категории: {{ category.name }}</h1>
{% else %}
    <h1>Список продуктов (Категория не найдена или ID отсутствует)</h1>
{% endif %}

<div class="container">
    <div class="row text-center">
    {% for product in category_products %}
        <div class="col-4">
            <img src="{{ product.image | media_filter }}" class="img-fluid w-50">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h1 class="my-0 font-weight-normal">{{ product.name }}</h1>
                </div>
                <div class="card-body">
                    <h2 class="card-title pricing-card-title">{{ product.price }} руб.</h2>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>Описание: {{ product.description | truncatechars:100 }}</li>
                    </ul>
                    {% if perms.product.can_unpublish_product or user == product.owner %}
                    <button type="button" class="btn btn-lg btn-block btn-outline-danger" onclick="location.href='{% url 'catalog:delete_product' product.pk %}'">Удалить</button>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary" onclick="location.href='{% url 'catalog:update_product' product.pk %}'">Редактировать</button>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary" onclick="location.href='{% url 'catalog:product_detail' product.pk %}'">Купить</button>
                    {% else %}
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary" onclick="location.href='{% url 'catalog:product_detail' product.pk %}'">Купить</button>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Назад</a>
        {% endif %}
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Вперед</a>
        {% endif %}
    </span>
</div>

{% endblock %}